#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=CVS:.svn

DEB_DIVERT_EXTENSION = .wg-teststation
DEB_DIVERT_FILES_wg-teststation += \
    /etc/ckill/whitelist.wg-teststation \
    /etc/munin/munin-node.conf.wg-teststation \
    /etc/default/grub.wg-teststation

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
