#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=CVS:.svn

DEB_DIVERT_EXTENSION = .wg-testslave
DEB_DIVERT_FILES_wg-testslave += \
    /etc/network/interfaces.wg-testslave

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/config-package.mk
